body{
    background-image: url("http://itv.es/icemakers/wp-content/uploads/2016/05/aaa.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.timeContainer{
    width: 400px;
    margin: 0 auto;
    opacity: 0.8;
}
.title h3{
    text-align: center;
    background-color: black;
    color: #fff;
    font-family: sans-serif;
    width: 440px;
    padding: 10px;
    margin-bottom: -5px;
}
.twoRow{
    display: flex;
    text-align: center;
    /* justify-content: space-between; */
}
.itemStart{
    padding: 15px;
    width: 200px;
    background-color:#ebcdc3;
}
.itemMinute{
    padding: 15px;
    width: 200px;
    background-color:#d9a49b;
}
.itemStop{
    padding: 15px;
    width: 200px;
    background-color:#a2d3cf;
}
.itemCash{
    padding: 15px;
    width: 200px;
    background-color:#5cb4b4;
}
.startBtn{
    width: 430px;
    padding: 15px;
    background-color: #e6e7e7;
    height: 35px;
    text-align: center;
}
.time{
    width: 430px;
    padding: 15px;
    background-color: #75709a;
    height: 30px;
    text-align: center;
}
button{
    background-color:#1da753;
    height: 35px;
    color: #ffff;
    width: 120px;
    cursor: pointer;
    border: none;
}
#liveTime{
    color: #fff;
}
.red{
    color: red;
}
.green{
    color: #26918f;
}
